<h2 mat-dialog-title>{{instruction}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field appearance="standard">
    <mat-label>name</mat-label>
    <input matInput placeHolder="name" formControlName="name">
    <mat-error *ngIf="form?.controls?.name?.errors?.required">Name is required.</mat-error>
  </mat-form-field>

  <mat-form-field >
    <mat-label>capacity</mat-label>
    <input matInput placeHolder="capacity" formControlName="capacity">
    <mat-error *ngIf="form?.controls?.capacity?.errors?.required">Capacity is required.</mat-error>
    <mat-error *ngIf="form?.controls?.capacity?.errors?.min">Minimum value is {{form.controls.capacity.errors.min.min}}.</mat-error>
  </mat-form-field>

</mat-dialog-content>


<mat-dialog-actions>

  <button class="mat-raised-button "
          (click)="close()">
    Close
  </button>

  <button  *ngIf="mode === modeEnum.edit"  class="mat-raised-button mat-primary"
           (click)="save()">
    Save
  </button>

  <button  *ngIf="mode === modeEnum.create"  class="mat-raised-button mat-primary"
           (click)="create()">
    Create
  </button>


</mat-dialog-actions>
