
<h2>Rooms</h2>

<ng-container *ngIf="!isAuthenticated">
  <mat-error>Add, Edit and Delete are disabled when no user is logged in</mat-error>
</ng-container>

<ng-container class="search-add-outer">

  <div class="search-add-inner">

    <mat-form-field  class="entity-search-input" appearance="standard">
      <input  matInput  [placeholder]="'search rooms'" #input
              (keyup)="searchRooms(input.value)">
    </mat-form-field>

    <button mat-button class="mat-raised-button mat-primary"  [disabled]="!isAuthenticated"
            (click)="createRoom()">Add Room</button>

  </div>

</ng-container>


<mat-table  class="entity-table mat-elevation-z8" [dataSource]="dataSource" matSort>


  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef ngClass='w-75' mat-sort-header>#</mat-header-cell>
    <mat-cell *matCellDef="let room" ngClass='w-75'>{{room.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef ngClass='w-300' mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let room" ngClass='w-300'>{{room.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="capacity">
    <mat-header-cell *matHeaderCellDef ngClass='w-100' mat-sort-header>Capacity</mat-header-cell>
    <mat-cell *matCellDef="let room" ngClass='w-100'>{{room.capacity}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="edit">
    <mat-header-cell  *matHeaderCellDef ngClass='w-100 text-center'>
    </mat-header-cell>
    <mat-cell *matCellDef="let room" ngClass='w-100 text-center'>
      <button mat-button class="mat-raised-button mat-primary"  [disabled]="!isAuthenticated"
              (click)="editRoom(room)">Edit</button>
    </mat-cell>
  </ng-container>



  <ng-container matColumnDef="delete">
    <mat-header-cell  *matHeaderCellDef ngClass='w-100 text-center'>
    </mat-header-cell>
    <mat-cell *matCellDef="let room" ngClass='w-100 text-center'>
      <button mat-button class="mat-raised-button mat-accent"  [disabled]="!isAuthenticated"
              (click)="deleteRoom(room)">Delete</button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>


</mat-table>



