

<mat-card>
  <mat-card-header>
    <h2>Sign Up</h2>
  </mat-card-header>




  <mat-card-content>

    <div class="err-cont" *ngIf="errors?.length">
        <div class="err-list" *ngFor="let error of errors">
          {{messagePerErrorCode[error]}}
        </div>
    </div>


    <form [formGroup]="signupForm">
      <div class="form-controls">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text">
          <mat-error *ngIf="signupForm?.controls?.username?.errors?.required">Username is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="signupForm?.controls?.password?.errors?.required">Password is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Re-enter Password</mat-label>
          <input matInput formControlName="password2" type="password">
          <mat-error *ngIf="signupForm?.controls?.passwordTwo?.errors?.required">You must re-enter your password.</mat-error>
        </mat-form-field>

        <mat-error *ngIf="signupForm?.errors?.passwordMatch">Passwords must match.</mat-error>

      </div>
    </form>
  </mat-card-content>
  <mat-card-footer class="footerFlex loginSignup">
    <button mat-button class="mat-raised-button mat-primary" (click)="signUp()">Sign Up</button>
  </mat-card-footer>
</mat-card>





<!--<div class="messages messages-error" *ngIf="errors?.length">-->
<!--  <div class="messages-container">-->
<!--    <div *ngFor="let error of errors">-->
<!--      {{messagePerErrorCode[error]}}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<form autocomplete="off" novalidate  [formGroup]="form">-->

<!--  <fieldset>-->
<!--    <legend>Sign Up</legend>-->

<!--    <div class="form-field">-->
<!--      <label>Email:</label>-->
<!--      <input name="email" formControlName="email">-->
<!--    </div>-->
<!--    <div class="form-field">-->
<!--      <label>Password:</label>-->
<!--      <input name="password" formControlName="password" type="password">-->
<!--    </div>-->
<!--    <div class="form-field">-->
<!--      <label>Confirm:</label>-->
<!--      <input name="confirm" formControlName="confirm" type="password">-->
<!--    </div>-->
<!--  </fieldset>-->

<!--  <div class="form-buttons">-->

<!--    <button  class="button button-primary" (click)="signUp()">Sign Up</button>-->

<!--  </div>-->



<!--</form>-->
