

mat-card-footer button {
  margin-bottom: 2em;
}

.err-cont {
  padding-bottom: 1em;
}

.err-list {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

mat-card {
  width: 50vw;
  margin: 0 auto;
}


