<div class='menu-container'>
  <div class='menu'>

    <div class='links'>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button title="create user" *ngIf="!isAuthenticated"  routerLink="/signup" >
        create user
      </button>
      <button mat-button  title="login" *ngIf="!isAuthenticated"  routerLink="/login"  >
       login
      </button>
      <button mat-button title="log out"  *ngIf="isAuthenticated"  (click)="logout()">
        logout
      </button>
    </div>

    <div class="session" *ngIf="isAuthenticated">
      session time remaining
      {{(timeLeft$ | async)}}
    </div>


  </div>
</div>


<mat-menu #menu>

  <button mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item routerLink="/teachers">
    <mat-icon>people</mat-icon>
    <span>Teachers</span>
  </button>

  <button mat-menu-item routerLink="/students">
    <mat-icon>people</mat-icon>
    <span>Students</span>
  </button>


  <button mat-menu-item routerLink="/rooms">
    <mat-icon>room</mat-icon>
    <span>Rooms</span>
  </button>

  <button mat-menu-item routerLink="/courses">
    <mat-icon>article</mat-icon>
    <span>Courses</span>
  </button>

  <button mat-menu-item routerLink="/studentCourses">
    <mat-icon>article</mat-icon>
    <span>Student Courses</span>
  </button>

  <button mat-menu-item routerLink="/subjects" *ngIf="isAuthenticated">
    <mat-icon>article</mat-icon>
    <span>Subjects</span>
  </button>

</mat-menu>
